*
{
	margin: 0;
	padding: 0;
}
/*-------Navigation-------*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height: 40px;
	padding-left: 30px;
}

.navbar-nav li{
	padding: 0 10px;
}

.navbar-nav li a{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover{
	color: #007bff!important;
}

.navbar{
	background: #fff;
}

.navbar-toggler{
	border:none!important;
}

.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*----Slider----*/
#slider{
	width: 100%;
}
.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5{
	color: #fff;
	font-size: :42px;
}
.scroll h2{
	color:black;
	font-size:45px;
	padding:20px 30px;
	font-family:sans-serif;
	margin:10px 10px;
	align-content:center; 

}
.scroll p{
	color:blue;
	font-size:20px;
	font-family:serif;
	padding:20px 30px;
}
.scroll{
	background-image:url("https://github.com/mansi35/EngagedForChange/blob/master/download.jpg");
	background-size:cover;
}
